{% extends "base.html" %}

{% block title %}
<title>Password reset - ZI.Aero</title>
{% endblock %}

{% block content %}
    <div class="login-account">
        <form  class="form" method="post" action="">
            {% csrf_token %}
            <div class="auth-form-header">
                <h1>Восстановление пароля в ZI.Aero</h1>
            </div>

            <div class="auth-form-body">
                {% for field in form %}
                    <div class="form-label"> {{ field.label_tag }} </div>
                    {% if field.errors %}
                    <div class="errors clearfix">{{ field.errors.0 }}</div>
                    {% endif %}
                    <div class="clearfix form-field"> {{ field }} </div>
            <!--{#            {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}#}-->

                {% endfor %}

                <div>
                      <input type="submit" class="btn btn-submit" value="Восстановить пароль" />
                      <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}