@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* BASE */

body {
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.5;
  color: #434343;
  background: #f9f9f9;
}

div {
    display: block;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.no-padding {
    padding: 0;
}

.footer {
  background: #ffffff;
  width: 100%;
  float: left;
}
.footer p {
  border-top: 1px solid #E9E9E9;
  margin: 0px;
  padding: 25px 0px;
  letter-spacing: 1px;
  color: #222222;
  font-size: 13px;
}

.logo {
  background: #24292e;
  height: 70px;
  padding: 20px 0;
  text-align: center;
}

.logo a {

}

.logo img {
  width: inherit !important;
  height: 70px;
}

.content {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FORMS */
.auth-form-header h1,
.form-header h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -.5px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-align: center;
    text-shadow: none;
}

.auth-form-header,
.form-header {
    background-color: transparent;
    border: 0;
    color: #333;
    margin-bottom: 15px;
}

.auth-form-body,
.form-body {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    font-size: 14px;
    padding: 20px;
}

.auth-form-body input,
.form-body input {
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 32px;
    padding: 6px 8px;
}

.auth-form-body .form-label,
.form-body .form-label {
    margin-bottom: 5px;
}

.auth-form-body .errors,
.form-body .errors {
    color: #F4655F;
    font-size: 10px;
}

.auth-form-body .form-field,
.form-body .form-field {
    margin-bottom: 15px;
}

.auth-form-body .btn-submit,
.form-body .btn-submit{
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    color: #fff;
}

.auth-form-body .btn-submit:hover,
.auth-form-body .btn-submit:focus,
.auth-form-body .btn-submit:active,
.form-body .btn-submit:hover,
.form-body .btn-submit:focus,
.form-body .btn-submit:active{
  background: green;
  color: #ffffff;
  z-index: 0 !important;
}


/* LOGIN/REGISTER */
.password-reset,
.register-account,
.login-account,
.form-container {
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.login-account .forgot-pass {
  float: right;
  font-weight: 400;
  margin-right: 0;
  color: #F4655F;
}

.login-account .forgot-pass:hover,
.login-account .forgot-pass:focus,
.login-account .forgot-pass:active{
  color: red;
}

.login-error,
.form-error {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    font-size: 14px;
    padding: 20px;
    color: #F4655F;
    text-align: center;
    margin-bottom: 20px;
}

.auth-form-body .center {
    text-align: center;
    margin-bottom: 15px;
}

.auth-form-body .btn-register {
    background: #F4655F;
    width:100%;
    color: white;
    border-radius: 5px;
    line-height: 30px;
}

.auth-form-body .btn-register:hover,
.auth-form-body .btn-register:focus,
.auth-form-body .btn-register:active {
    background: red;
}

/* HAT MENU */
.category-nav {
  background: #24292e;
}

.category-nav .mega-menu {
  position: relative;
  display: block;
  z-index: 1000;
}
.category-nav .mega-menu ul {
  height: 70px;
  margin: 0;
  padding: 0;
}
.category-nav .mega-menu ul li {
  height: 100%;
  background: #24292e;
  display: inline-block;
  float: left;
  text-align: center;
  position: static;
  text-transform: uppercase;
}

.category-nav .mega-menu ul .menu-main {
  width: 15%;
}

.category-nav .mega-menu ul .menu-instruction {
  width: 15%;
}

.category-nav .mega-menu ul .menu-info {
  width: 15%;
}

.category-nav .mega-menu ul .menu-add {
  width: 15%;
  float: right;
}

.category-nav .mega-menu ul .menu-profile{
  width: 70px;
  float: right;
}

.menu-profile img {
  width: 50px;
  height: 50px;
}

.menu-profile .dropdown-menu {
  left: -100px;
  width: 170px !important;
}



.category-nav .mega-menu ul .menu-profile-login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  float: right;
}

.menu-login-btn {
  height: 30px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 0 5px;
}

.category-nav .mega-menu ul li .show {
  height: 100%;
  width: 100%;
}

.category-nav .mega-menu ul li .show .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
}

.category-nav .mega-menu ul li .show .dropdown-item {
    font-size: 12px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-align: center;
    background: #fff;
    color: #24292e;
    height: 50px;
}

.category-nav .mega-menu ul li .show .dropdown-item:hover {
    background: #cfcfd0;
}

.category-nav .mega-menu ul li .show .dropdown-item nohover:hover {
    background: inherit;
}

.category-nav .mega-menu ul li a {
  position: relative;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: white;
  font-weight: normal;
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding: auto 0px;
  justify-content: center;
  align-items: center;
}
.category-nav .mega-menu ul li a:hover,
.category-nav .mega-menu ul li a:focus,
.category-nav .mega-menu ul li a:active {
  background: #3a3f43;
  color: #ffffff;
}
.category-nav .mega-menu ul li:hover .menu-wrapper,
.category-nav .mega-menu ul li:focus .menu-wrapper {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  display: block;
}
.category-nav .mega-menu ul li:last-child {border-right: 0px;}
.menu-wrapper {
  text-align: left;
  position: absolute;
  visibility: hidden;
  display: none;
  z-index: 1;
  height: auto;
  left: 0px;
  top: 73px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #2a2f33;
  border: 0px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.mega-menu-li .nav {
  width: 100%;
  text-align: left;
  border: 0px;
  padding: 20px 0;
}
.mega-menu-li .nav .list a {
  margin: 0px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #32373b;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #32373b;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  width: 100%;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.mega-menu-li .nav .list a:hover,
.mega-menu-li .nav .list a:focus,
.mega-menu-li .nav .list a.active {
  background: rgba(255, 255, 255, 0.06);
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.06);
}
.mega-menu-li .submenu-lists {
  background: #32373b;
  padding-bottom: 0;
}
.mega-menu-li .submenu-lists h4 {
  margin: 0;
  padding: 15px 30px;
  background: #2CA9E1;
  font-size: 15px;
  color: #ffffff;
  position: relative;
}
.mega-menu-li .submenu-lists h4 i {
  font-size: 20px;
  position: absolute;
  right: 20px;
}
.mega-menu-li .tab-content {
  padding-right: 25px;
}
.tab-content img,.accordion img {float: none; }
.menu-post {
  padding: 30px 0 10px 30px;
  float: left;
  width: 100%;
}
.menu-post .post h3 {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin: 0px;
}
.menu-post .post h3 a {
  padding: 20px 0 !important;
  color: #ffffff !important;
  float: left;
  width: 100%;
}
.menu-main:hover {border-top: 4px solid #e1493e;}
.menu-instruction:hover {border-top: 4px solid #8aba56;}
.menu-info:hover {border-top: 4px solid #046dd5;}
.menu-profile:hover {border-top: 4px solid #b45bff;}
.sports {border-top: 4px solid #19b6e9;}
.menu-add:hover {border-top: 4px solid #ffef30;}
.mobile {border-top: 4px solid #f1c40f;}
.health {border-top: 4px solid #e84c8b;}



/* PROJECT PAGE */

.project {
    width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.project table {
    /*font-family: ;*/
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #24292e;
    color: #ffffff;
    border: 5px solid #24292e;
    border-radius: 10px;
}
.project th {
    font-size: 18px;
    padding: 10px;
}
.project td {
    background: #ffffff;
    color: black;
    padding: 10px;
}

/* PROJECTS PAGE */


.project-table {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 400;
    /*width: 300px;*/
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.project-table a {
    width: 100%;
    height: 100%;
}

.project-table .project-item:hover {
    background-color: #cfcfd0;
}

.project-table table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ffffff;
    color: #000000;
    border: 5px solid #24292e;
    border-radius: 10px;
}

.project-table th {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}
.project-table td {
    background: #ffffff;
    color: black;
    padding: 10px;
}